 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

  body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  footer {
    background: #000000;
    padding: 30px 20px 50px 20px;
    text-align: center;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.05);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 12px;
  }

  .social-icon {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }

  .social-icon:hover {
    background-color: #e82959;
    color: white;
    box-shadow: 0 10px 15px rgba(232, 41, 89, 0.6);
  }

  .social-icon.twitter:hover {
    background-color: #1da1f2;
    box-shadow: 0 10px 15px rgba(29, 161, 242, 0.6);
  }

  .social-icon.tiktok:hover {
    background: linear-gradient(45deg, #69C9D0, #EE1D52);
    box-shadow: 0 10px 15px rgba(238, 29, 82, 0.6);
    color: white;
  }

  .social-icon.youtube:hover {
    background-color: #ff0000;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.6);
    color: white;
  }

  .copyright-text {
    font-size: 14px;
    color: #dddcdc;
    user-select: none;
  }

  .username {
    margin-top: 6px;
    font-weight: 600;
    color: #C9B2A0;
  }